body
{
	margin: 0;
}
.ellips{
	background-color: yellow;
	background-image: src('../img/sun-text.svg');
}

marquee{
	width: 100%;
	background-color: #F54932;
	color: #fff;
}
marquee ul {
	margin-left: -100%;
}
marquee ul li{
	display: inline;
	font-size: 22px;
}
.wrap {
	max-width: 100%;
	margin: auto;
}
.items-wrap {
	position: relative;
	display: flex;
	overflow: hidden;
	background-color: #F54932;
	gap: 12px;
}
.items {
	flex-shrink: 0;
	display: flex;
	gap: 12px;
	counter-reset: item;
	justify-content: space-around;
	min-width: 100%;
}
.item {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	line-height: 24.2px;
	flex: 0 0 auto;
	counter-increment: item;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	margin: 10px -3px;
	color: #fff;
	transition: all 0.1s ease-in-out;
}

.item:before {
	content: "•";
	margin-right: 5px;
}

.marquee {
	animation: scroll 40s linear infinite;
}
@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - 20px));
	}
}
